.flex-center {
  justify-content: center;
}

.field.has-addons {
  flex: 1;
}

.field.has-addons .control:first-of-type,
.panel-block .is-active {
  flex: 8;
}

#logo {
  height: 3.25rem;
}

#logo svg {
  max-height: 100%;
  width: 100%;
  min-height: 20px;
}